body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
    background: #007BFF;
    color: white;
}

section {
    padding: 40px;
}

.project {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
}